
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* siefd */
.color{
  background-color: rgba(0, 102, 255, 0.205);

}

a{
  margin-top: 50px;
  margin-right: 100px;
}



.f{
  color: rgba(255, 0, 72, 0.819);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font: weight 1000px;
  margin: 0;
  text-align: center;
  
}

.div1{
  color: rgb(255, 0, 98);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}

.div2{
  color: rgb(255, 0, 98);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  
}

.div3{
  color: rgb(255, 0, 98);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}

input{
  background-color: rgb(64, 239, 172);
}

.but{
  background-color: rgb(42, 153, 175);
}

.s{
  color: rgba(0, 204, 255, 0.695);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;

}

form{
  border: 1px solid #000;
  width: fit-content;
  align-content: center;
}

.strike{
  text-decoration: line-through;
}